@import "tailwindcss";

@theme {
  --color-brand-pink: #FF6FAF;
  --color-brand-pink-pastel: #FFD1DC;
  --color-brand-peach: #FFDAB9;
  --color-brand-purple: #E6E6FA;

  --font-sans: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Custom Utilities for smooth scroll & hiding scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
